@charset "UTF-8";

/* estilização dos demais formatos de tela */

@media screen and (min-width: 768px){
    #burger {
        display: none; 
    }

    menu {
        display: block;
    }

    menu > ul {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
    }
    
    menu > ul > li  {
        width: 18%;
    }

    main {
        max-width: 768px;
    }
}