@charset "UTF-8";

/* estilização geral (mobile first) */

/* Configurações globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: #e7e7e7;
}

/* Escondendo a barra de rolagem */
::-webkit-scrollbar {
    display: none;
}

/* Configurações do cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    height: 70px;
}

h1 {
    color: #fff;
    font-size: 1.7em;
}

/* configurando menu */

menu {
    display: none;
}

#burger {
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}

#burger:hover {
    background-color: #e7e7e7;
    color: #020105;
    border-radius: 50px;
    cursor: pointer;
    transform: rotate(90deg);
}

menu>ul {
    list-style: none;
}

menu>ul>li>a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    background-color: #030e15;
    text-align: center;
    margin-top: 5px;
}

menu>ul>li>a:hover {
    color: #879cd2;
    background-color: #041018;
}

/* configurações do conteúdo */
main {
    width: 90vw;
    background-color: #fff;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

main>article {
    text-align: justify;
}

article h2 {
    font-size: 20pt;
    padding-bottom: 10px;
    text-align: center;
}

article p {
    text-indent: 30px;
}