@charset "UTF-8";

/* estilização geral (mobile first) */

/* Configurações globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: #e7e7e7;
}

/* Escondendo a barra de rolagem */
::-webkit-scrollbar {
    display: none;
}

/* Configurações do cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    height: 70px;
}

h1 {
    color: #171717;
    font-size: 1.7em;
}

/* configurando menu */

#burger {
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
    color: #020105;
    transition: all 0.5s ease;
}

#burger:hover {
    color: #fff;
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;
    transform: rotate(90deg);
}

menu {
    display: none;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 70px;
    width: 80vw;
    border-radius: 0px 30px 30px 0px;
}

menu>ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

menu>ul>li>a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
}

menu>ul>li>a:hover {
    color: #879cd2;
}

/* configurações do conteúdo */
main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main>article {
    text-align: justify;
    width: 95vw;
    background-color: #fff;
    margin: 10px 0 30px 0;
    padding: 10px;
    border-radius: 10px;
}

article h2 {
    font-size: 2em;
    padding-bottom: 5px;
    text-align: center;
}

article>h3 {
    font-size: .9em;
    padding-bottom: 7px;
    color: #555;
    text-align: justify;
}

article p {
    text-indent: 30px;
    line-height: 1.5em;
    font-size: 1em;
    margin-bottom: 15px;
}

.social {
    display: flex;

    padding: 10px;

    background-color: #fff;
    box-shadow: 2px 2px 3px #0000007e;
    width: 90%;
    height: 70px;
    border: solid 2px #171717;
    border-radius: 15px;
    margin: 20px 0
}

footer {
    position: fixed;
    bottom: 0;
    height: 25px;
    background-color: #171717;
    color: #fff;
    width: 100vw;
}

footer>p {
    text-align: center;
    padding: 5px;
    font-size: 10pt;
    color: #fff;
}

footer>p>a {
    color: #fff;
    text-decoration: none;
}