@charset "UTF-8";

/* Estilo para tela de PC */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

header {
    display: flex;
    align-items: center;

    background-color: #171717;
    height: 80px;
    padding: 15px;
    color: #fff;
}

header>h1 {
    font-size: 1.5em;
    width: 100%;
    text-align: center;
}

i.icon {
    display: flex;
    align-items: center;

    font-size: 1.5em;
    width: 80px;
    text-align: center;
    height: 40px;
    padding: 5px;
}

i.abrir, i.fechar {
    border-right: .7px solid #ffffff6c;
    justify-content: start;
}

i.procurar {
    border-left: .7px solid #ffffff6c;
    justify-content: end;
}

i.fechar, .menu, i.fechar-procurar {
    display: none;
}

.filtro-pesquisa {
    display: none;
    align-items: center;
    justify-content: start;

    width: 100%;
}

.pesquisar {
    background-color: transparent;
    border-bottom: 2px solid #fff;
    margin-right: 10px;
    width: 80%;
    height: 30px;
    padding: 3px;
    color: #fff;

}

i.fechar-procurar {
    width: 30px;
    text-align: center;
}