@charset "UTF-8";

/* Estilizações de todas as demais midias */

/* TYPICAL DEVICE BREAKPOINTS
--------------------------------
Pequenas telas: até 600px
Celulares: 600px até 768px
Tablets: 768px até 992px
Desktops: 992px até 1200px
Grandes telas: acima de 1200px
----------------------------------- DADOS RECOLHIDOS NA W3C
*/

@media print {
    /* 
    body { 
        background-image: url(../../pacote_img/back-print.jpg); 
    } 
    DESNECESSÁRIO, pois na impressora não imprime backgrounds
    */

    header > h1 {
        color: black;
        text-shadow: none;
    }

    #phone {display: none;}
    #pc {display: none;}
    #tablet {display: none;}
    #print {
        display: block;
    }
    #tv {display: none;}
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../../pacote_img/back-tablet.jpg);
    }
    #phone {display: none;}
    #pc {display: none;}
    #tablet {display: block;}
    #print {display: none;}
    #tv {display: none;}
}

/* DESKTOP */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../../pacote_img/back-pc.jpg);
    }
    #phone {display: none;}
    #pc {display: block;}
    #tablet {display: none;}
    #print {display: none;}
    #tv {display: none;}
}

/* TELAS GRANDES */
@media screen and (min-width: 1200px) {
    body {
        background-image: url(../../pacote_img/back-tv.jpg);
    }
    #phone {display: none;}
    #pc {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #tv {display: block;}
}