@charset "UTF-8";

/* Configurações modo paisagem */
@media screen and (orientation: landscape) {
    h1::after {
        content: "PAISAGEM";
        color: #ededed;
    }

    body {
        background: url(../../pacote_img/cev-landscape.jpg);
        background-position: left bottom;
    }
}

/* Configurações modo retrato */
@media screen and (orientation: portrait) {
    h1::after {
        content: "RETRATO";
        color: #ededed;
    }

    body {
        background: url(../../pacote_img/cev-portrait.jpg);
        background-position: center bottom;
    }
}

/* Configurações gerais */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: #fff;
    text-shadow: 2px 2px 1px #000;
    padding: 15px;
}